<footer class='footer'>
  <div class="tags">
    <ul>
      <li>ruby</li>
      <li>rails</li>
      <li>javascript</li>
      <li>html</li>
      <li>css</li>
    </ul>
  </div>
  <div class="tags">
    <ul>
      <li>ruby</li>
      <li>rails</li>
      <li>javascript</li>
      <li>html</li>
      <li>css</li>
    </ul>
  </div>
</footer>