<footer class='footer'>
  <div class="tags">
    <h5>タグ</h5>
    <ul>
      <% Tag.all.each do |tag| %>
        <li><%= tag.name %></li>
      <% end %>
    </ul>
  </div>
  <p class='copyright'>&copy;Kei</p>
</footer>