<div class="wrapper">
  <% @portfolios.each do |portfolio| %>
    <div class="portfolio-card">
      <div class="portfolio-image">
        <%= image_tag(portfolio.image.url) %>
      </div>
      <div class="portfolio-info">
        <h5><%= link_to  portfolio.name, [:visitor, portfolio] %></h5>
        <p><%= portfolio.detail %></p>
      </div>
    </div>
  <% end %>
</div>